@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

#nutritional-values {
    th {
        font-size: 0.8rem;
    }

    td {
        .nutritional-percentage {
            font-size: 0.7rem;
        }
    }
}

.ingredient {
    .ingredient-nutritional-value {
        min-height: 2.5rem;
    }
}

#recipe_durations {
    .form_duration {
        > div {
            flex: 1 0 0%;
            margin-bottom: .3rem !important;

            > label {
                margin-bottom: .3rem;
            }
        }
    }
}

#recipe_process {
    min-height: 10rem;
}

#recipe_comment {
    min-height: 5rem;
}

@include media-breakpoint-up(sm) {
    #nutritional-values {
        th {
            font-size: 16px;
        }

        td {
            .nutritional-percentage {
                font-size: 0.875em;
            }
        }
    }
}

@include media-breakpoint-up(md) {
    #nutritional-values {
        .ingredient {
            .ingredient-nutritional-value {
                min-height: initial;
            }
        }
    }
}
