.recipe-tag {
    display: inline-block;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, .15);
    color: white;
    margin-right: .4rem;
    padding: .2rem .6rem;
    font-size: .8rem;
    margin-top: .6rem;
}
