{% extends 'base.html.twig' %}

{% block javascript %}
    {{ encore_entry_script_tags('recipe_toggle_favorite') }}
{% endblock %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            {% if app.user is not null %}
                {{
                    include('ingredient/_create_from_openfoodfacts_form.html.twig', {
                        'button_label': 'Créer un ingrédient depuis Open Food Facts',
                        'form': formFromOpenFoodFacts
                    })
                }}
            {% endif %}
        </div>
    </div>
    {% if app.user is not null %}
        <div id="klassy-cards-container" class="d-flex justify-content-between flex-wrap mt-5">
            {% for recipe in app.user.favoriteRecipes %}
                {{ include('recipe/_recipe_card.html.twig') }}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block stylesheets %}{% endblock %}
