{% extends 'base.html.twig' %}

{% block javascript %}
    {{ encore_entry_script_tags('recipe_toggle_favorite') }}
{% endblock %}

{% block title %}Accueil{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page">
        <a href="/">Accueil</a>
    </li>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            {% if app.user is not null %}
                {{
                    include('ingredient/_create_from_openfoodfacts_form.html.twig', {
                        'button_label': 'Créer un ingrédient depuis Open Food Facts',
                        'form': formFromOpenFoodFacts
                    })
                }}
            {% endif %}
        </div>
    </div>
    {% if app.user is not null %}
        <div class="row mt-5">
            <div class="col">
                <h1>Recettes favorites</h1>
            </div>
        </div>
        <div class="row mt-2">
            {% for recipe in app.user.favoriteRecipes %}
                <div class="col-2 mb-5">
                    {{ include('recipe/_recipe_card.html.twig') }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block stylesheets %}{% endblock %}
