{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page">
        <a href="/">Accueil</a>
    </li>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            {% if app.user is not null %}
                {{
                    include('ingredient/_create_from_openfoodfacts_form.html.twig', {
                        'button_label': 'Créer un ingrédient depuis Open Food Facts',
                        'form': formFromOpenFoodFacts
                    })
                }}
            {% endif %}
        </div>
    </div>
    {% if app.user is not null %}
        <div class="row mt-5">
            <div class="col">
                <h1>Recettes favorites</h1>
            </div>
        </div>
        <div class="row mt-2">
            {% for recipe in app.user.favoriteRecipes %}
                <div class="col-2">
                    <div class="card h-100 text-center border-0 bg-light">
                        <div class="card-body">
                            <h5 class="card-title">{{ recipe.name }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Recette</h6>
                        </div>
                        <div class="card-footer bg-light border-0">
                            <a
                                href="{{ path('recipe_show', {'id': recipe.id}) }}"
                                class="btn btn-secondary">
                                Voir
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block stylesheets %}{% endblock %}
