{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page">
        <a href="/">Accueil</a>
    </li>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            {% if app.user is not null %}
                {{
                    include('ingredient/_create_from_openfoodfacts_form.html.twig', {
                        'button_label': 'Créer un ingrédient depuis Open Food Facts',
                        'form': formFromOpenFoodFacts
                    })
                }}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}{% endblock %}
