{% extends 'base.html.twig' %}

{% block title %}Nouvel ingrédient{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="/">Accueil</a>
    </li>
    <li class="breadcrumb-item">
        <a href="#">Ingrédients</a>
    </li>
    <li class="breadcrumb-item" aria-current="page">
        <a href="{{ path('ingredient_index') }}">Liste des ingrédients</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        Nouvel ingrédient
    </li>
{% endblock %}

{% block body %}
    <div class="row mt-5 mb-4">
        <div class="col">
            <h1>Nouvel ingrédient</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {{ include('ingredient/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
