{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block page_title %}
    <div class="container-fluid">
        <div class="page-heading">
            <h6>
                <a href="{{ path('home') }}">Accueil</a>
                / Connexion
            </h6>
            <h2>Bienvenue sur Boustigraille, pour accéder au logiciel, identifiez-vous.</h2>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-4 offset-md-4 text-center">
            <form action="{{ path('app_login') }}" method="post">
                <div class="mb-3">
                    <input
                        type="text"
                        class="form-control"
                        id="username"
                        name="username"
                        placeholder="Username"
                        value="{% if username is defined %}{{ username }}{% endif %}"
                    >
                </div>
                <div class="mb-3">
                    <input type="password"
                        class="form-control"
                        id="password"
                        name="password"
                        placeholder="Mot de passe"
                    >
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <button
                    type="submit"
                    class="btn btn-primary center-block col-xl-4 col-lg-5 col-12"
                >
                    Connexion
                </button>
            </form>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}{% endblock %}
