{% if app.user is not null %}
    <form method="post"
          action="{{ path('meal_list_delete', {'id': meal_list.id}) }}"
          onsubmit="return confirm('Voulez-vous vraiment supprimer cette liste de repas ?');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ meal_list.id) }}">
        <button
            class="btn btn-danger"
            data-bs-toggle="tooltip"
            title="Supprimer la liste de repas">
            <i class="ri-delete-bin-fill"></i>
        </button>
    </form>
{% endif %}
