{% extends 'base.html.twig' %}

{% block title %}Nouvelle liste de repas{% endblock %}

{% block page_title %}
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col">
                <div class="page-heading">
                    <h6>
                        <a href="{{ path('home') }}">Accueil</a>
                        /
                        <a href="{{ path('meal_list_index') }}">Listes de repas</a>
                        / Nouvelle liste de repas
                    </h6>
                    <h2>Nouvelle liste de repas</h2>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            {{ include('meal_list/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
