// customize Bootstrap
$font-family-sans-serif: 'Poppins', sans-serif;
$min-contrast-ratio: 2;
$primary:               #678EDB;
$secondary:             #BC6ECC;
$success:               #7BBF48;
$info:                  #4EA7C5;
$warning:               #FB7F37;
$danger:                #F35A5A;
$dark:                  #595C5F;
$light:                 #F2F4F6;
$alert-bg-scale:        0;
$alert-border-scale:    0;
$alert-color-scale:     0;
@import '~bootstrap/scss/bootstrap';

// import Klassy Cafe
@import '../klassy_cafe/assets/css/base';

$header-height: 100px;
$footer-height-padding: calc(3rem + 3rem + 55px);
$footer-height-margin: 1.5rem;
$footer-total-height: calc($footer-height-margin + $footer-height-padding + 16px + 24px);

body {
    min-height: calc(100vh - $header-height);
}

/* Avoid content being hidden by the top sticky navbar on anchor clicks */
*[id] {
    scroll-margin-top: $header-height;
}

header {
    input {
        max-width: 13rem;
    }
}

p {
    margin-bottom: 0.4rem;
    line-height: 1.4rem;
}

/* Add a pill when connected user has a notification */
#top-navbar {
    i.ri-account-circle-line.has-notification {
        &:after {
            content: ' ';
            position: absolute;
            top: 0.6rem;
            left: 1.1rem;
            border: 0.1rem solid #fff;
            border-radius: 100%;
            height: 0.6rem;
            width: 0.6rem;
            background-color: $info;
        }
    }
}

#page {
    margin-top: $header-height;
    padding-top: 1rem;
    min-height: calc(100vh - $header-height - $footer-total-height);
}

#page-content {
}

/* align icons with text */
i {
    vertical-align: middle;

    &::before {
        position: relative;
        top: -0.07rem;
    }
}

/* icon which triggers an action */
.action-icon {
    cursor: pointer;
}

/* dropdown icon use remix icon arrow-drop-down-line instead of Bootstrap 5 default */
.dropdown-toggle {
    padding-right: 1.2rem !important;

    &:after {
        font-style: normal !important;
        border-top: initial !important;
        border-bottom: initial !important;
        border-left: initial !important;
        border-right: initial !important;
        margin-left: initial !important;
        font-weight: initial !important;
        letter-spacing: initial !important;
        line-height: initial !important;
        display: inline-block;
        color: #2a2a2a !important;
        content: '\EA50' !important;
        font-family: 'remixicon', sans-serif !important;
        font-size: 20px !important;
        position: absolute !important;
        right: 0 !important;
        top: 0.5rem !important;
    }
}

/* add small image thumbnail */
.img-thumbnail.img-thumbnail-small {
    width: 100px !important;
}
