@use "variables";

@use './preloader';
@use './fonts';
@use './reset';
@use './card';
@use './header';
@use './footer';

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.page-heading {
    h2 {
        line-height: 40px;
        margin-top: .7rem;
        margin-bottom: 1.5rem;
        font-size: 1.9rem;
        font-weight: 900;
        color: #2a2a2a;
    }

    h6 {
        position: relative;
        font-size: 0.95rem;
        color: variables.$klassy-primary-color;
        font-weight: 500;
        letter-spacing: 2px;
        text-transform: uppercase;
        padding-left: 40px;

        &::before {
            width: 30px;
            height: 1px;
            content: '';
            position: absolute;
            left: 0;
            top: 8px;
            background-color: variables.$klassy-primary-color;
        }

        a:hover {
            text-decoration: underline !important;
            color: variables.$klassy-primary-color;
            text-underline-offset: 0.35em;
        }
    }
}

h6 {
    &.klassy-cafe {
        position: relative;
        font-size: 0.95rem;
        color: variables.$klassy-secondary-color;
        font-weight: 500;
        letter-spacing: 2px;
        text-transform: uppercase;
        padding-left: 30px;
        margin-bottom: 0.8rem;

        &:before {
            width: 20px;
            height: 1px;
            content: "";
            position: absolute;
            left: 0;
            top: 8px;
            background-color: variables.$klassy-secondary-color;
        }
    }
}
