/* Klassy Cafe color scheme */
$klassy-primary-color:          #678EDB;
$klassy-secondary-color:        #BC6ECC;
$klassy-success-color:          #7BBF48;
$klassy-info-color:             #4EA7C5;
$klassy-warning-color:          #FB7F37;
$klassy-danger-color:           #F35A5A;
$klassy-dark-color:             #595C5F;
$klassy-light-color:            #F2F4F6;

/* Klassy Cafe cards */
$card-height: 15rem;
$card-width: 15rem;
$energy-box-size: 3.5rem;
$fav-box-size: 2.5rem;
$fav-box-background-color: #fff;
$card-info-height: 4rem;
$card-border-radius: 0.25rem;

/* Klassy Cafe header */
$mobile-navbar-color-default: white;
$mobile-navbar-color-sticky: #f7f7f7;
$header-height: 100px;
