/* Klassy Cafe color scheme */
$klassy-primary-color: #678EDB;
$klassy-secondary-color: #BC6ECC;

/* Klassy Cafe cards */
$card-height: 15rem;
$card-width: 15rem;
$energy-box-size: 3.5rem;
$fav-box-size: 2.5rem;
$fav-box-background-color: #fff;
$card-info-height: 4rem;
$card-border-radius: 0.25rem;

/* Klassy Cafe header */
$mobile-navbar-color-default: white;
$mobile-navbar-color-sticky: #f7f7f7;
$header-height: 100px;
