{% if app.user is not null %}
    <form method="post" action="{{ path('recipe_delete', {'id': recipe.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ recipe.id) }}">
        <button
            class="btn btn-danger"
            disabled
            data-toggle="tooltip"
            title="Supprimer la recette">
            <i class="ri-delete-bin-fill"></i>
        </button>
    </form>
{% endif %}
