{% if app.user is not null %}
    <form method="POST" action="{{ path('recipe_delete', {'id': recipe.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette recette ?');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ recipe.id) }}">

        <button
            class="btn btn-danger"
            data-toggle="tooltip"
            title="Supprimer la recette">
            <i class="ri-delete-bin-fill"></i>
        </button>
    </form>
{% endif %}
