{% extends 'base.html.twig' %}

{% block javascript %}
    {{ encore_entry_script_tags('recipe_toggle_favorite') }}
{% endblock %}

{% block title %}Liste des Recettes{% endblock %}

{% block page_title %}
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col">
                <div class="page-heading">
                    <h6>
                        <a href="{{ path('home') }}">Accueil</a>
                        / Recettes
                        / Liste des recettes
                    </h6>
                    <h2>Liste des recettes</h2>
                </div>
            </div>
            {% if app.user is not null %}
                <div class="col-12 col-lg-4 text-end">
                    <a class="btn btn-primary btn-large" href="{{ path('recipe_new') }}">
                        Enregistrer une nouvelle recette
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block body %}
    <div id="klassy-cards-container" class="d-flex justify-content-between flex-wrap">
        {% for recipe in recipes %}
            {{ include('recipe/_recipe_card.html.twig') }}
        {% endfor %}
    </div>
{% endblock %}
