{% extends 'base.html.twig' %}

{% block title %}Nouvelle recette{% endblock %}

{% block page_breadcrumb %}
    <div class="container-fluid">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('home') }}">Accueil</a></li>
                <li class="breadcrumb-item">Recettes</li>
                <li class="breadcrumb-item"><a href="{{ path('recipe_index') }}">Liste des recettes</a></li>
                <li class="breadcrumb-item active" aria-current="page">Nouvelle recette</li>
            </ol>
        </nav>
    </div>
{% endblock %}

{% block page_title %}
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col">
                <div class="page-heading">
                    <h2>Nouvelle recette</h2>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            {{ include('recipe/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
