{% extends 'base.html.twig' %}

{% block title %}Nouveau compte{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="/">Accueil</a>
    </li>
    <li class="breadcrumb-item">
        <a href="#">Administration</a>
    </li>
    <li class="breadcrumb-item" aria-current="page">
        <a href="{{ path('user_index') }}">Liste des comptes</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        Nouveau compte
    </li>
{% endblock %}

{% block body %}
    <div class="row mt-5 mb-4">
        <div class="col">
            <h1>Nouveau compte</h1>
        </div>
    </div>

    {{ include('user/_form.html.twig') }}
{% endblock %}
