{% extends 'base.html.twig' %}

{% block title %}Nouveau compte{% endblock %}

{% block page_title %}
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col">
                <div class="page-heading">
                    <h6>
                        <a href="{{ path('home') }}">Accueil</a>
                        / Administration
                        / Nouveau compte
                    </h6>
                    <h2>Nouveau compte</h2>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block body %}
    <div class="row">
        <div class="col">
            {{ include('user/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
